.text-centered {
  text-align: center;
}

.blog-post-title {
  font-size: 18px;
}

.blog-post {
  text-align: left;
}

.blog-post-content {
  font-size: 12px;
}

.navbar-style {
  background-color: #3498D8;
  color: white;
  width:100%;
  border-radius: 0px;
}

.navbar-sel-style {
  text-decoration: underline;
}

.footer-style {
  background-color: #3498D8;
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

.empty-divider {
  background-color: rgba(0,0,0,0);
  padding: 10px 0;
}

.empty-divider-sm{
  background-color: rgba(0,0,0,0);
  padding: 5px 0;
}

.footer-content{
  color:white;
  text-align: center;
  padding: 15px 0;
}

.navbar-sm {
  display:none;
  z-index: 99;
}

.center {
  margin: auto;
}

.nav-wrapper {
  text-align: center;
  width: 100%;
}

.nav-wrapper ul {
  display: inline-block;
}

.navbar-list {

  list-style: none;
  margin-bottom: 0px;
}

.navbar-item {
  position: relative;
  float: left;
  padding-top: 15px;
  padding-right: 25px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 18px;
}

.navbar-sm-item {
  font-size: 18px;
  cursor: pointer;
}

.navbar-sm-row {
  padding-top: 10px;
}

.navbar-separator {
  position: relative;
  float: left;
  padding-top: 15px;
  padding-right: 25px;
  margin-bottom: 0px;
  font-size: 18px;
}

.content-container{
  text-align: center;
  padding-top:50px;
}

.hline{
  width: 100%;
  height: 1px;
  background-color: #3498D8;
  margin-bottom: 25px;
}

.content {
  text-align:left;
}

.section-title{
  color: #3498D8;
  padding-top: 30px;
  padding-bottom: 15px;
}

.text-right{
  float: right;
}

.text-italics{
  font-style: italic;
}

.resume-nav-sm {
  display: none;
}

.resume-nav-sm-item {
  padding-bottom: 10px;
}

a:hover {
  text-decoration: none;
}

.btn{
  color: #3498D8;
  border: 1px solid #3498D8;
  border-radius: 20px;
  padding: 5px;
  display:inline-block;
  float:right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.more_text{
  display:none;
}

.language-list{
  text-align: center;
  font-style: italic;
  padding-top: 15px;
}

.img-content {
  text-align: center;
  width:50%;
  margin: 25px auto;
  display:block;
}




body {
  font-family: Raleway, sans-serif;
}

nav a, nav a:hover{
  color: white;
  display:block;
}

nav a:hover {
  text-decoration: underline;
}

th:first-child {
  padding: 0;
}

th {
  padding: 12px 15px;
  text-align:left;
  border-bottom: 1px solid #e1e1e1;
}

table {
  width: 100%;
}

tbody th {
  font-weight: normal;
}

#header-text {

  text-align: center;
  color: white;
  margin: 10px 0px;
  font-family: Raleway, sans-serif;
}

#portrait {

  display: block;
  margin:10px auto;
  height: 200px;
  width: 200px;
  border-radius: 40px;
  border: 1px solid white;

}

#header-style {
  background-color: #3498D8;
}

#nav-container {
  width: 100%;
}


@media(max-width: 640px)
{
  .navbar {
    display: none;
  }

  .navbar-sm {
    display: block;
  }

  .resume-nav {
    display: none;
  }

  .resume-nav-sm {
    display: block;
  }

  .img-content {
    width: 80%;
  }
}
